@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #111827 ;
}

@keyframes blink{
  0%{opacity:0; }
  100%{opacity:1;}
}


.blinker{
  animation:blink 1s infinite;
  color:#fed700;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.blinker:hover{
  border-radius: 25px;
  border-color: #fed700;
  border-width: 1px;
  color:white;
  background-color: #fed700;
  text-shadow: 1px 1px 1px black;
}